img {
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
a.nav-link {
    font-size: 1.0rem !important;  
}
p.teste {
    font-weight: bold;
    font-size: 2.0rem !important;    
    color: red;
}
